# this file contains with all keys. but no secrets.

PORT_NUMBER=3000
MONGODB_URL="your_mongodb_uri"
FRONTEND_URL_FOR_CORS="http://localhost:5173"

# Mail Credentials(Nodemail + Gmail SMTP server)
# user name: your gmail address, password: 16 chars generated in Google(App Passwords). 
SMTP_GMAIL_USERNAME=""
SMTP_GMAIL_PASSWORD=""  


# Razorpay Integration Keys
RAZORPAY_KEY_ID="rzp_test_SCZFELh9rRNrCU"    
RAZORPAY_KEY_SECRET="dwuBSPBtkj2uJKm05SnybuON"
# Razorpay Webhooks
RAZORPAY_WEBHOOK_SECRET=""  # razorpay dashboard -> account settings -> webhooks



# NGROK library AUTH Key - (to run webhook in localhost server)
NGROK_AUTH_KEY="39LxDhBvtCtVNHRqb3k3Vv5cir6_4f4TycXi2BnGuYQo65mJ9"
